@import url(./variables.css);

.form-container {
  max-width: 480px;
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--primary-border-color);
}

.form-container label {
  font-size: 14px;
  color: var(--primary-text-blue);
  font-weight: 500;
}

.form-container input,
.form-container select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-border-color);
  font-size: 14px;
  width: 100%;
  background: #f9fafb;
}

.form-container input:focus,
.form-container select:focus {
  border-color: var(--bg-text-secondary-blue);
}

.submit-btn {
  padding: 12px;
  background: var(--bg-text-secondary-blue);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #2f6dd8;
}

.cancel-btn {
  padding: 10px 14px;
  background: #e5e7eb;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  color: black;
}

.delete-btn {
  padding: 12px;
  background: var(--danger-red);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
